name: Lint

on:
  pull_request:
  push:

jobs:
  react:
    name: React lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install deps
        run: pnpm install

      - name: Check formatting
        run: pnpm fmt:check

      - name: Run lint
        run: pnpm lint

  rust:
    name: Rust lint
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: src-tauri
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - uses: swatinem/rust-cache@v2
        with:
          workspaces: src-tauri

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Add rustfmt
        run: rustup component add rustfmt

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test

      - name: Check formatting
        run: cargo fmt --all -- --check
